@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {

    background-color: black;
}

.humburger {
    display: none;
}

/* shared style */
.display-flex {
    display: flex;
}

.orange-light {
    color: #E6533C;
}

.white {
    color: #FFFFFF;
}

.gray-white {
    color: rgba(255, 255, 255, 0.5);
}

.btn-primary {
    background-color: #E6533C;
    font-weight: 600;
    font-size: 1.15rem;
    color: #FFFFFF;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    border: none;
}

/* shared style */


.introduction {
    background: #1d1c1c;

}

.navbar,
.banner {
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.nav-links {}

.nav-iteam {
    list-style: none;
    margin-right: 40px;
}

.nav-link {
    text-decoration: none;
    font-weight: 400;
    font-size: 1.15rem;
}

.brand-name {
    font-weight: 800;
    font-size: 2.25rem;
}

/* banner content */
.banner-container {
    width: 40%;
}

.banner-title {
    font-weight: bolder;
    font-size: 5rem;

}

.download {
    font: 600;
    font-size: 1.15rem;
    background-color: black;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
    text-decoration: none;
    border: none;

}

.service {
    background-color: rgba(255, 255, 255, 0.1);
    width: 150px;
    height: 80px;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    top: -640px;
    right: -190px;
}

.services {
    background-color: rgba(255, 255, 255, 0.1);
    width: 180px;
    height: 100px;
    border-radius: 20px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -170px;
    left: -100px;

}

.circle {
    border: 2px solid #E6533C;
    background-color: #E6533C;
    border-radius: 50%;
    width: 50px;
    height: 50px;

}

.tutorial {
    font-weight: 700;
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.videos {
    font-weight: 700;
    font-size: 2.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.class {
    font-weight: 400;
    font-size: 0.8rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* habbit section */
.habbit {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

.habbit-title {
    font-weight: 800;
    font-size: 3rem;

}

.habbit-description {
    font-weight: 400;
    font-size: 0.9rem;
    margin-bottom: 40px;
}

.workout-proccess {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.workout-card img {
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}

.workout-card {
    text-align: center;
    margin-right: 30px;
}

.workou-name {
    font-weight: 600;
    font-size: 1.15rem;
}

.workout-rule {
    font-weight: 400;
    font-size: 0.9rem;
}

/* run section */
.run {
    width: 80%;
    margin: 20px auto;
    background-color: #222222;
    justify-content: center;
    align-items: center;

}

.run img {
    width: 35%;
    padding: 20px 20px 20px 20px;
    border-radius: 35px;
}

.run-container {

    width: 40%;
    margin-bottom: 20px;
}

.run-title {
    font-weight: 800;
    font-size: 3rem;
}

.run-description {
    font-weight: 400;
    font-size: 0.9rem;
}


/* bmi calculator */
.BMI-calculator {
    text-align: center;
    width: 80%;
    margin: 50px auto;
}

.BMI-title {
    font-weight: 800;
    font-size: 3rem;
}

.BMI-description {
    font-weight: 400;
    font-size: 0.9rem;
}

/* calculator */
.calculator {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0 auto;
    background-color: #222222;
    padding-bottom: 100px;

}

.form-container {}

.table-title,
.calculator-title {
    font-weight: 800;
    font-size: 1.75rem;
    margin-bottom: 50px;

}

.table-container {
    align-items: center;
    text-align: center;
}

table {
    border-collapse: collapse;
    text-align: center
}

th {
    font-weight: 600;
    font-size: 1rem;
    color: white;
}

td {
    font-weight: 400;
    font-size: 0.9rem;
    color: rgba(255, 255, 255, 0.5);

}

th,
td {
    border: 1px solid rgba(184, 183, 183, 0.5);
    padding: 10px;
}

.calculator-description {
    font-weight: 400;
    font-size: 0.9rem;
}

form input {
    width: 40%;
    background-color: #6c6c6c;
    border-radius: 5px;
    margin-bottom: 10px;

}
.value{
    height: 30px;
    
}
.select {
    width: 81.5%;
    height: 30px;
}
input::placeholder {
    color: white;
    font-weight: 500;
    font-size: 0.9rem;
    padding-left: 10px;
}


/* teammate */
.team-container{
display: flex;
flex-direction: column;
 width: 80%;
 text-align: center;
 align-items: center;
 justify-content: center;
 margin: 0 auto;
}
.team-title{
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 0px;
}
.team-description{
    font-weight: 400;
    font-size: 0.9rem;
    margin-bottom: 40px;
}
.teammates{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    background-color:#222222;
    padding: 50px 20px 0px 70px;
}
.members{
    width: 90%; 
    height: 75%;
}

.member{
    width: 100%; 
    height: 100%;
    border-radius: 8px;
    

}
.info{
    text-align: start;
    position: relative;
    top: -100px;
    left: 30px;
    
}
.info-name{
    font-weight: 800;
    font-size: 1.25rem;
    margin-bottom: 0px;
}
.info-title{
    font-weight: 400;
    font-size: 0.9rem;
}

@media screen and (max-width:576px) {

    .banner,
    .run ,.calculator {
        flex-direction: column;
    }

    .nav-links {
        display: none;
    }

    .humburger {
        display: block;
    }

    .banner-container {
        width: 100%;
    }

    .services {
        position: relative;
        top: -140px;
        left: -30px;
    }

    .workout-proccess {
        grid-template-columns: repeat(1, 1fr);
    }

    .run-container,
    .run img {
        width: 80%;
    }
    .form-container{
        padding: 50px;
    }
    .teammates{
        grid-template-columns: repeat(1,1fr);
    }

}